body {
  display: grid;
  font-family: 'Righteous', cursive;
  transform: translate(0%, 2em);
}

#wrap {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

/* nav style */
#nav {
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
}
nav a {
  color: crimson;
  text-decoration: none;
  margin: 0 1em 0 1em;
  text-align: center;
}
nav a:hover {
  text-decoration: underline;
}
.current {
  color: white;
  background: linear-gradient(45deg, #3a6186, #89253e);
  padding: 1px 5px 1px 5px;
}
.current:hover {
  text-decoration: none;
}
/* end nav style */

div {
 margin: 0 auto;
}

#header h1 {
 color: crimson;
}


#info {
 background: linear-gradient(45deg, #3a6186, #89253e);
 color: white;
 padding: 2em;
}
#info a {
 text-decoration: none;
 color: crimson;
 font-size: 1.5em;
}
#number {
  color: crimson;
  font-size: 1.5em;
}

#email:after {
 content: "\2709";
}
#phone:after {
 content: "\2706";
}
